pandas==2.0.3 
numpy==1.24.3 
TA-Lib==0.4.28 
openpyxl==3.1.5 
python-telegram-bot==20.7 
aiohttp==3.9.1 
requests==2.31.0 
cryptography==41.0.7 
loguru==0.7.2 
websockets==12.0 
pytz==2024.1 
python-dotenv==1.0.0 
pycryptodomex==3.19.0 
certifi 
aiofiles==23.2.1 
APScheduler==3.10.4 
beautifulsoup4==4.12.2 
google-generativeai==0.3.2 
google-auth==2.23.0 
grpcio==1.60.0 
