echo pandas==2.2.2 > requirements.txt
echo numpy==1.26.4 >> requirements.txt
echo TA-Lib==0.4.28 >> requirements.txt
echo openpyxl==3.1.5 >> requirements.txt
echo python-telegram-bot==21.6 >> requirements.txt
echo aiohttp==3.10.2 >> requirements.txt
echo requests==2.32.3 >> requirements.txt
echo cryptography==43.0.1 >> requirements.txt
echo loguru==0.7.2 >> requirements.txt
echo websockets==12.0 >> requirements.txt
echo pytz==2024.1 >> requirements.txt
echo python-dotenv==1.0.0 >> requirements.txt
echo pycryptodomex==3.19.0 >> requirements.txt
echo certifi >> requirements.txt
echo aiofiles==24.1.0 >> requirements.txt
echo APScheduler==3.10.4 >> requirements.txt
echo beautifulsoup4==4.12.2 >> requirements.txt
echo google-generativeai==0.8.5 >> requirements.txt
echo google-auth==2.23.3 >> requirements.txt
echo grpcio==1.60.0 >> requirements.txt